header.header-case(style='background-image: url(\'./images/orca-gold.svg\');')
  .grid
    .grid__row
      .header-case__column.header-case__column_center
        .header-case__wrapper(data-aos='fade-up')
          h1.header-case__title Orca <br> Gold
          p.header-case__description
            span Branding
