section.who(data-aos='fade-up')
  .grid
    .grid__row
      .who__column.who__column_start
        p.who__description Who We Are
        h2.who__title Lorem Ipsum Dolor Sit Amet
        a.link(href='javascript:void(0);') About Us

      .who__column.who__column_end
        .who__image
          img(
            srcset='./images/content/homepage.jpg 1x, ./images/content/homepage@2x.jpg 1.5x'
            src='./images/content/homepage.jpg'
            alt='Lorem Ipsum Dolor Sit Amet'
          )
