header.header-about-us
  .grid
    .grid__row
      .header-about-us__column.header-about-us__column_center
        .header-about-us__wrapper(data-aos='fade-up')
          h1.header-about-us__title Who We Are
          p.header-about-us__description.
            Bold <br>
            Professional <br>
            Playful
