header.header-overview(data-aos='fade-up')
  .grid
    .grid__row
      .header-overview__column.header-overview__column_center
        h1.header-overview__title Our Work
        p.header-overview__description Curabitur ex mi, scelerisque sed ligula eu, <br> sodales convallis riqsus. Aenean facilisis diam
        .header-overview__select
          select
            option(value='all-work' selected) All Work
            option(value='branding') Branding
            option(value='presentation') Presentation
            option(value='video') Video
            option(value='web-ui-ux') Web &amp; UI/UX
          span.header-overview__arrow(aria-hidden='true')
            +icon('arrow')(width='12' height='8')
