.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  display: flex;
  padding: 0 14px;
  height: 70px;
  background-color: transparent;
  transition: background-color $transition-duration;
  @include media('>=lg') {
    right: auto;
    bottom: 0;
    display: block;
    padding: 15px 0 20px;
    width: 80px;
    height: auto;
  }
  @include media('>=xl') {
    width: 84px;
  }

  &_show,
  &_inner {
    background-color: #fff;
  }

  &__column {
    display: flex;
    width: (100% / 3);
    @include media('>=lg') {
      width: auto;
      height: (100% / 3);
    }

    &_start {
      align-items: center;
      justify-content: flex-start;
      @include media('>=lg') {
        align-items: flex-start;
        justify-content: center;
      }
    }

    &_center {
      align-items: center;
      justify-content: center;
      @include media('>=lg') {
        align-items: center;
      }
    }

    &_end {
      align-items: center;
      justify-content: flex-end;
      @include media('>=lg') {
        align-items: flex-end;
        justify-content: center;
      }
    }
  }

  &__logotype {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    text-decoration: none;
    @include media('>=lg') {
      width: 54px;
      height: 54px;
    }

    svg {
      display: block;
      width: 32px;
      height: 32px;
      @include media('>=lg') {
        width: 54px;
        height: 54px;
      }
    }

    path {
      transition: fill $transition-duration;

      &:nth-of-type(1) {
        fill: #fbfbfb;

        .sidebar_show &,
        .sidebar_navigation &,
        .sidebar_inner & {
          fill: #f32735;
        }
      }

      &:nth-of-type(2) {
        fill: #fbfbfb;

        .sidebar_show &,
        .sidebar_navigation &,
        .sidebar_inner & {
          fill: #000b8c;
        }
      }
    }

    &:hover,
    &:focus {
      @include media('>=lg') {
        outline: none;
      }
    }

    &:not(.sidebar__logotype_no-hover):hover,
    &:not(.sidebar__logotype_no-hover):focus {
      @include media('>=lg') {
        path {
          &:nth-of-type(1) {
            fill: #f32735;
          }

          &:nth-of-type(2) {
            fill: #000b8c;
          }
        }
      }
    }
  }

  &__navigation-button {
    position: relative;
    padding: 0;
    width: 26px;
    height: 26px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transform: rotate(90deg);
    @include media('>=lg') {
      width: 32px;
      height: 32px;
      transform: rotate(0deg);
    }

    &::before {
      left: 9px;
      transform: rotate(0deg);
      @include media('>=lg') {
        left: 10px;
      }
    }

    &::after {
      right: 9px;
      transform: rotate(0deg);
      @include media('>=lg') {
        right: 10px;
      }
    }

    &::before,
    &::after {
      position: absolute;
      top: 5px;
      width: 2px;
      height: 16px;
      border-radius: 2px;
      background-color: #fbfbfb;
      content: '';
      transition: right ($transition-duration / 2) ($transition-duration / 2),
        left ($transition-duration / 2) ($transition-duration / 2),
        transform ($transition-duration / 2),
        background-color $transition-duration;
      @include media('>=lg') {
        width: 4px;
        height: 22px;
      }

      .sidebar_show &,
      .sidebar_inner & {
        background-color: #e1e0de;
      }

      .sidebar_navigation & {
        background-color: #161615;
        @include media('>=lg') {
          background-color: #e1e0de;
        }
      }
    }

    &:hover,
    &:focus {
      @include media('>=lg') {
        outline: none;

        &::before,
        &::after {
          background-color: #828280;
        }
      }
    }

    &_close {
      &::before {
        left: 12px;
        transform: rotate(-45deg);
        @include media('>=lg') {
          left: 14px;
        }
      }

      &::after {
        right: 12px;
        transform: rotate(45deg);
        @include media('>=lg') {
          right: 14px;
        }
      }

      &::before,
      &::after {
        transition: right ($transition-duration / 2),
          left ($transition-duration / 2),
          transform ($transition-duration / 2) ($transition-duration / 2),
          background-color $transition-duration;
      }
    }
  }

  &__social-networks {
    display: flex;
    @include media('>=lg') {
      display: block;
    }
  }

  &__social-network {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    text-decoration: none;
    @include media('>=lg') {
      width: 32px;
      height: 32px;
    }

    &:not(:last-child) {
      margin-right: 10px;
      margin-bottom: 0;
      @include media('>=lg') {
        margin-right: 0;
        margin-bottom: 14px;
      }
    }

    &_instagram {
      position: relative;

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url('../images/instagram.png');
        background-position: 50% 50%;
        background-size: 18px 18px;
        background-repeat: no-repeat;
        content: '';
        opacity: 0;
        transition: opacity $transition-duration;
        @include media('>=lg') {
          content: none;
        }

        .sidebar_navigation & {
          opacity: 1;
        }
      }
    }

    [class^='icon-'] {
      width: 18px;
      height: 18px;
      transition: fill $transition-duration;
      fill: #fbfbfb;
      @include media('>=lg') {
        width: 22px;
        height: 22px;
      }
    }

    &:hover,
    &:focus {
      @include media('>=lg') {
        outline: none;

        [class^='icon-'] {
          fill: #828280;
        }
      }
    }
  }
}

.icon-facebook {
  .sidebar_show &,
  .sidebar_inner & {
    fill: #e1e0de;
  }

  .sidebar_navigation & {
    fill: #4267b2;
    @include media('>=lg') {
      fill: #e1e0de;
    }
  }
}

.icon-instagram {
  .sidebar_show &,
  .sidebar_inner & {
    fill: #e1e0de;
  }

  .sidebar_navigation & {
    fill: transparent;
    @include media('>=lg') {
      fill: #e1e0de;
    }
  }
}

.icon-linkedin {
  .sidebar_show &,
  .sidebar_inner & {
    fill: #e1e0de;
  }

  .sidebar_navigation & {
    fill: #0077b5;
    @include media('>=lg') {
      fill: #e1e0de;
    }
  }
}
