section.contact(data-aos='fade-up')
  .grid
    .grid__row
      .contact__column.contact__column_start
        .contact__wrapper.contact__wrapper_start
          h1.contact__title.
            Ready When <br>
            You Are
          form.contact__form.form(action='/' method='post')
            label.form__label.form__label_first-name
              input.form__input.form__input_first-name(
                type='text'
                required
              )
              span First Name
            label.form__label.form__label_last-name
              input.form__input.form__input_last-name(
                type='text'
                required
              )
              span Last Name
            label.form__label.form__label_email
              input.form__input.form__input_email(
                type='text'
                required
              )
              span Email Address
            label.form__label.form__label_textarea
              textarea.form__textarea(required)
              span Message
            button.form__submit(type='submit') Talk Soon

      .contact__column.contact__column_end
        footer.contact__wrapper.contact__wrapper_end
          h2.contact__subtitle Contact Us
          .contact__address
            h3.contact__subsubtitle Address
            p.contact__text.
              312-100 Broadview Ave. <br>
              Toronto, ON, <br>
              Canada | M4M 3H3
          .contact__address
            h3.contact__subsubtitle Say hello!
            p.contact__text 416.645.0935 <br>
              a.contact__link(
                href='mailto:info@catchirm.com'
              ) info@catchirm.com
          b.contact__some-text.
            We’d love to hear from from you! <br>
            Send us a message using the form opposite, or email us.
