section.about(data-aos='fade-up')
  .grid
    .grid__row
      .about__column.about__column_center
        h2.about__title Catch Advisory Group
        p.about__description is a consulting firm based in Toronto that provides investor relations (IR), creative design, marketing to private and publicly-traded companies including: financial services, mining, real estate, cannabis, and technology.
