section.brief(data-aos='fade-up')
  .grid
    .grid__row
      .brief__column.brief__column_start
        p.brief__description <strong>Orca Gold</strong> dolor sit amet, consectetur adipiscing elit. Cras orci orci, varius varius eros facilisis, egestas aliquet lorem. Etiam ut mauris a urna tempus faucibus. Nam interdum urna vitae aliquet tempor. Aliquam sed diam non nibh eleifend fringilla. Nunc lacinia, mauris vel ornare tristique, elit ante pharetra nunc, sed cursus turpis mauris nec arcu.

      .brief__column.brief__column_end
        .brief__data
          p.brief__client
            span Client
            b Orca Gold
          p.brief__sector
            span Sector
            b Gold Mining
          p.brief__date
            span Completion Date
            b Feb 24, 1997
