.connect {
  &__column {
    &_start {
      padding-top: 30px;
      padding-bottom: 0;
      @include grid-col(
        (
          xs: 12,
          sm: null,
          md: null,
          lg: 4,
          xl: null,
        )
      );
      @include media('>=lg') {
        padding-top: 60px;
      }
      @include media('>=xl') {
        .connect_overview & {
          padding-top: 106px;
        }

        .connect_case & {
          padding-top: 60px;
        }
      }
    }

    &_end {
      padding-top: 30px;
      padding-bottom: 14px;
      @include grid-col(
        (
          xs: 12,
          sm: null,
          md: null,
          lg: 8,
          xl: 7,
        )
      );
      @include media('>=lg') {
        padding-bottom: 34px;
      }
      @include media('>=lg') {
        padding-top: 60px;
      }
      @include media('>=xl') {
        .connect_overview & {
          padding-top: 138px;
        }

        .connect_case & {
          padding-top: 44px;
        }
      }
    }
  }

  &__title {
    $font-size: 65px;
    z-index: 1;
    margin-top: 0;
    margin-bottom: (10px / $font-size * 1em);
    padding-right: 14px;
    padding-left: 14px;
    color: #f32735;
    text-transform: uppercase;
    letter-spacing: (0.47px / $font-size * 1em);
    font-weight: 900;
    font-size: ($font-size - 8 * 4);
    font-family: 'Mont', sans-serif;
    line-height: (58px / $font-size * 1em);
    @include media('>=sm') {
      padding-right: 0;
      padding-left: 0;
    }
    @include media('>=md') {
      font-size: ($font-size - 8 * 3);
    }
    @include media('>=lg') {
      margin-bottom: (16px / $font-size * 1em);
      text-align: right;
      letter-spacing: (0.94px / $font-size * 1em);
      font-size: ($font-size - 8 * 2);
    }
    @include media('>=xl') {
      font-size: ($font-size - 8 * 1);
    }
    @include media('>=1300px') {
      font-size: $font-size;
    }

    &_overview {
      @include media('>=xl') {
        position: relative;
        right: -28px;
      }
    }
  }

  &__description {
    $font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 14px;
    padding-left: 14px;
    color: #161615;
    font-weight: 500;
    font-size: $font-size - 2;
    font-family: 'Mont', sans-serif;
    line-height: (23px / $font-size * 1em);
    @include media('>=sm') {
      padding-right: 0;
      padding-left: 0;
      font-size: $font-size - 1.5;
    }
    @include media('>=md') {
      font-size: $font-size - 1;
    }
    @include media('>=lg') {
      text-align: right;
      font-size: $font-size - 0.5;
    }
    @include media('>=xl') {
      font-size: $font-size;
    }

    &_overview {
      @include media('>=xl') {
        padding-right: 10px;
      }
    }

    br {
      display: none;
      @include media('>=xl') {
        display: inline;
      }
    }
  }

  &__form {
    padding-top: 36px;
    padding-right: 14px;
    padding-bottom: 20px;
    padding-left: 14px;
    border-radius: 4px;
    background-color: #000b8c;
    color: #fbfbfb;
    @include media('>=md') {
      padding-right: 20px;
      padding-left: 20px;
    }
    @include media('>=lg') {
      padding-bottom: 34px;
    }
    @include media('>=xl') {
      position: relative;
      padding-top: 112px;
      padding-right: (214px / 735px * 100%);
      padding-left: 34px;
    }

    &_overview {
      @include media('>=xl') {
        right: 7px;
      }
    }

    &::after {
      position: absolute;
      bottom: -102px;
      left: calc(100% - 144px);
      width: 524px;
      height: 180px;
      background-color: transparent;
      background-image: url('../images/waves.svg');
      background-size: contain;
      background-repeat: no-repeat;
      content: none;
      transform: scaleX(-1) rotate(-90deg);
      transform-origin: 0 100%;
      @include media('>=xl') {
        content: '';
      }
    }

    .form__label_first-name,
    .form__label_last-name {
      $font-size: 13px;
      margin-bottom: (28px / $font-size * 1em);
      @include media('>=xl') {
        margin-bottom: (44px / $font-size * 1em);
      }
    }

    .form__label_email {
      $font-size: 13px;
      margin-bottom: (28px / $font-size * 1em);
      @include media('>=xl') {
        margin-bottom: (36px / $font-size * 1em);
      }
    }

    .form__submit {
      width: 100%;
      @include media('>=sm') {
        width: auto;
      }
    }
  }
}
