section.top(data-aos='fade-up')
  .grid
    .grid__row
      .top__column.top__column_start
        b.top__discription
          span Branding
        h2.top__title Orca Gold

      .top__column.top__column_end
        .top__image
          img(
            srcset='https://via.placeholder.com/735x471/d8d8d8/d8d8d8 1x, https://via.placeholder.com/1470x942/d8d8d8/d8d8d8 1.5x'
            src='https://via.placeholder.com/735x471/d8d8d8/d8d8d8'
            alt='Orca Gold'
          )
