section.career(data-aos='fade-up')
  .grid
    .grid__row
      .career__column.career__column_center(data-text='Join Us @ Catch')
        h2.career__title Careers
        p.career__description Catch Advisory Group is always looking for talented and inspiring people to work with. If you haven’t found a job posting on our site that is relevant to you and you’d like to share your resume/portfolio with us, please do so here!
        a.link.link_invert(
          href='mailto:info@catchirm.com'
        ) Join Us
