extends ./templates/_base.pug

block variables
  - var pageName = 'overview'
  - var pageTitle = 'Overview | Catch'

block body
  include ./blocks/overview/header/_header.pug
  include ./blocks/overview/top/_top.pug
  include ./blocks/overview/cases/_cases.pug
  include ./blocks/overview/connect/_connect.pug
